/*

Draftship

Author: Rafael Polutta
URL:    http://draftship.com
Email:  hello@gdraftship.com

*/


/* Fira Sans
-------------------------------------------------- */
@import 'https://fonts.googleapis.com/css?family=Fira+Sans:300,400,400i,500,500i';

/* Cormorant Garamond
-------------------------------------------------- */
@import 'https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i,600,600i';


/* Reset
-------------------------------------------------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}


/* Pix
-------------------------------------------------- */
img {
  display: block;
  max-width: 100%;
}


/* Links
-------------------------------------------------- */
a {
  color: #1B1D1C;
  text-decoration: none;
  position: relative;
  transition: color .3s, background .3s, border .3s;
}
a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(54,54,54,1);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0px;
  left: 0;
  background-color: rgba(54,54,54,.2);
}

/* Time
-------------------------------------------------- */
time {
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .2em;
  position: relative;
}
time:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(255,255,255,1);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
time:hover:before, .gallery-item:hover time:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
time:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0px;
  left: 0;
  background-color: rgba(255,255,255,.2);
}


/* Clearfix
-------------------------------------------------- */
.cf:after {
  content: "";
  display: table;
  clear: both;
}


/* Site
-------------------------------------------------- */
html {
  height: 101%;
  font-family: 'Fira Sans', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0 auto;
  font-size: 1.25em;
  line-height: 1.5em;
  padding: 0;
  background: #fff;
  color: rgba(54,54,54,1);
}


/* Header
-------------------------------------------------- */
.header {
  height: 64px;
  background-color: rgba(0,0,0,.2);
  position: relative;
  z-index: 1;
}
.header-bg {
  position: relative;
  top: -64px;
  content: '';
  height: 256px;
}
.fiftythree {
  background-color: #77EEDF;
}
.black {
  background-color: #1B1D1C;
}


/* Navigation
-------------------------------------------------- */
.menu {
  text-align: center;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .2em;
}
.menu a {
  display: block;
  color: rgba(255,255,255,.5);
  /* mix-blend-mode: difference; */
}
.menu a:hover {
  color: rgba(255,255,255,1);
  text-decoration: hidden;
}
.menu a:hover:before, .menu a:after {
  visibility: hidden;
}
.menu .active {
  color: rgba(255,255,255,1);
}
.menu li {
  list-style: none;
  display: inline-block;
  height: 64px;
  line-height: 64px;
}
.menu > li {
  position: relative;
}
.menu > li > a {
  padding: .1em 1em;
  border: 0;
}

/*
.menu > li:hover .submenu {
    display: block;
  }
.submenu {
  position: absolute;
  z-index: 1;
  display: none;
  left: 1em;
}
.submenu:before {
  position: absolute;
  z-index: -1;
  content: '';
  top: -.5em;
  left: 0;
  border-top: .5em solid transparent;
  border-bottom: .5em solid transparent;
  border-left: .5em solid #222;
}
.submenu li {
  border-bottom: 1px solid #444;
}
.submenu a {
  padding: .5em 1.5em;
  font-size: .9em;
  font-weight: 400;
  color: #fff;
  background: #222;
  white-space: nowrap;
}
.submenu a:hover {
  background: #333;
  color: #fff;
}
*/

/* Headings
-------------------------------------------------- */
h1 {
  font-size: 3em;
  line-height: 1.25em;
  font-weight: 500;
  margin-bottom: .7em;
  text-transform: uppercase;
  letter-spacing: .25em;
}
h2 {
  font-size: 2em;
  line-height: 1.25em;
  font-weight: 300;
  margin-bottom: .5em;
  color: red;
}
h3 {
  font-size: 1.4em;
  line-height: 1.5em;
  font-weight: 400;
  margin-bottom: .5em;
}
h4 {
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.5em;
  margin-bottom: .5em;
  color: red;
}
h1 a, h2 a, h3 a, h4 a {
  color: inherit;
  border: 0 !important;
}

/* Blockquote
-------------------------------------------------- */
blockquote {
  text-align: center;
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 2em;
  line-height: 1.1em;
  position: relative;
  margin-bottom: 3em;
}
blockquote p {
  padding: 0 .3em !important;
}
blockquote:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1.3em;
  left: 0;
  background-color: rgb(224, 224, 224);
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Main
-------------------------------------------------- */
.main {
  margin: 2em auto;
  max-width: 900px;
  width: 80%;
  padding-bottom: 1.5em;
}
.main hr {
  margin: 3em 0;
  height: 2px;
  background: #ddd;
}
.main p,
.main figure,
.main ul,
.main ol {
  margin-bottom: 1.5em;
  padding: 0 5em;
}

/* Text blocks */
.text h1 {
  text-align: center;
  color: #1B1D1C;
  opacity: 1;
}
.text ul,
.text ol {
  margin-left: 1em;
}

/* Masonry Layout
-------------------------------------------------- */
.flex-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  align-items: flex-start;
  justify-content: flex-start;
}
.col {
  width: 32%;
  margin: 1%;
  flex: 0 0 auto;
  overflow: hidden;
  position: relative;
}
.col a img {
  -webkit-transition: all 600ms ease-out;
  -moz-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
  -ms-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
}
.col:nth-of-type(3n) {
	margin-right: 0;
}
.col:nth-of-type(3n+1) {
	margin-left: 0;
}
.col-text {
  text-align: left;
  position: absolute;
  z-index: 100;
  background: #1B1D1C;
  opacity: .8;
  padding: .8em 0;
  text-align: center;

  width: 100%;
  height: 70px;
  bottom: -70px;

  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.col-text h3 {
  font-size: 1em;
  padding: 0;
  margin: 0;
  line-height: .8em;
  color: #FFF;
}
.col-text p {
  font-size: .8em;
  opacity: .6;
  padding: 0;
  margin: 0;
  color: #FFF;
}
.col-text a {
  color: #1B1D1C;
}
.col-text a:after, .col-text a:before {
	content: none;
}

.col:hover img {
  filter: opacity(.5);
  transform: scale(1.1);
}
.col:hover .col-text {
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

/* Meta
-------------------------------------------------- */
.meta {
  margin-bottom: 1.5em;
}
.meta li {
  float: left;
  list-style: none;
  margin-right: 2em;
  color: red;
}
.meta li b {
  font-weight: 400;
  color: #000;
  padding-right: .25em;
}


/* Project Teaser
-------------------------------------------------- */
.gallery-container {
  position: relative;
  top: -64px;
  z-index: 0;
  overflow: hidden;
  height: 80vh;
  min-height: 70%;
  width: 100%;
}
.gallery-collection {
  position: relative;
  top: 0;
  z-index: 0;
  overflow: hidden;
  height: 350px;
  width: 100%;
  margin-top: 1em;
}
.gallery-collection .gallery-item-content {
  top: 50%;
  transform: translateY(-60%);
}
.gallery-item {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.gallery-item-content {
  position: absolute;
  z-index: 1000;
  top: 40vh;
  margin-top: 2em;
  padding: 0 1em;
  width: 100%;
  text-align: center;
  color: rgba(255,255,255,1);
}
.gallery-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.gallery-container a:hover:before, .gallery-container a:after, .gallery-collection a:hover:before, .gallery-collection a:after  {
  visibility: hidden;
}
/*
.slide-progress {
  position: absolute;
  content: '';
  height: 3px;
  width: 60px;
  background-color: rgba(255,255,255,.2);
  bottom: 1em;
  left: 50%;
  margin-left: -30px;
}
*/
.snowfall {
  visibility: hidden;
  position: absolute;
}
@media only screen and (min-width:768px){
  .snowfall {
    visibility: visible;
    background: url(/assets/images/s1.png),url(/assets/images/s2.png),url(/assets/images/s3.png);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: snow 20s linear infinite;
    animation: snow 20s linear infinite;
  }
}
#fade {
  -webkit-animation: 3s ease-in 0s normal forwards 1 fadeIn;
  animation: 3s ease-in 0s normal forwards 1 fadeIn;
}

@keyframes fadeIn{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes fadeIn{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@keyframes snow {
  0%{background-position:0 0,0 0,0 0}
  50%{background-position:500px 500px,100px 200px,-100px 150px}
  100%{background-position:500px 1000px,200px 400px,-100px 300px}
}
@-webkit-keyframes snow {
  0%{background-position:0 0,0 0,0 0}
  50%{background-position:500px 500px,100px 200px,-100px 150px}
  100%{background-position:500px 1000px,200px 400px,-100px 300px}
}


/* Next/Prev nav
-------------------------------------------------- */
.nextprev {
  padding: 1em 0;
}
.nextprev a {
  border: 0;
}
.nextprev .prev {
  float: left;
}
.nextprev .next {
  float: right;
}


/* Footer
-------------------------------------------------- */
.footer {
  padding: 1em 0 4em;
  font-size: .8em;
}
.copyright {
  text-align: center;
}

@media only screen and (max-width:768px){
  h1 {
      font-size: 1.8em;
      letter-spacing: .15em;
  }
  .gallery-item-content {
      padding: 0 1em;
  }
	.main p,
	.main figure,
	.main ul,
	.main ol {
  		padding: 0;
	}
	blockquote {
  		font-size: 1.5em;
	}
	.col {
  		width: 100%;
  		margin: 5% 0;
	}
	.col-text {
  		bottom: 0px;
	}
	.col:hover .col-text {
 		-moz-transform: translateY(0);
		-o-transform: translateY(0);
 		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
